bayesian-optimization==1.0.1
bayespy==0.5.18
fastai==1.0.54
gpxpy==1.3.5
graphviz==0.8.4
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keras-rcnn==0.0.2
keras-resnet==0.2.0
keras-rl==0.4.2
keras-tqdm==2.0.1
kmeans-smote==0.1.2
matplotlib==3.1.0
matplotlib-venn==0.11.5
nltk==3.2.4
pandas==0.23.4
pandas-datareader==0.7.0
pandas-profiling==1.4.2
pandas-summary==0.0.6
pandasql==0.7.3
plotly==3.10.0
plotly-express==0.3.1
plotnine==0.4.0
regex==2019.6.8
scattertext==0.0.2.52
scikit-image==0.15.0
scikit-learn==0.21.2
scikit-multilearn==0.2.0
scikit-optimize==0.5.2
scikit-plot==0.3.7
scikit-surprise==1.0.6
scipy==1.3.0
seaborn==0.9.0
sklearn==0.0
sklearn-contrib-lightning==0.5.0
sklearn-pandas==1.8.0
stemming==1.0.1
stevedore==1.30.1
stop-words==2018.7.23
stopit==1.1.2
svgwrite==1.2.1
sympy==1.4
tensorflow==1.13.1
tensorflow-estimator==1.13.0
tensorflow-hub==0.4.0
tensorflow-probability==0.7.0
tensorforce==0.4.3
tensorpack==0.9.5
tqdm==4.32.1
word2number==1.1
wordcloud==1.5.0
